.. |travis| image:: https://travis-ci.org/proofit404/tern-django.png
    :target: https://travis-ci.org/proofit404/tern-django
    :alt: Build Status

====================
Tern Django |travis|
====================

{{ package.description }}

{{ commentary }}

Installation
------------

{{ installation }}

Usage
-----

{{ usage }}
